html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

.banner-text {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -.5%);
  bottom: 1.9em;
  left: 53.5%;
  right: auto;
  max-width: 50em;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner-text h2 {
  color: white;
  font-size: 4rem;
  margin: 0 0 .3em;
  font-weight: bold;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

.img-flex {
  display: block;
  width: 100%;
}
